<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      Compressed Air Blog Stats - {{ block "title" . }}{{ end }}
    </title>
    <style>
      html, body {
        padding: 0;
        border: 0;
        margin: 0;
      }
      body {
        width: 90%;
        max-width: 992px;
        margin: 0 auto;
      }
      header,
      main,
      footer {
        margin: 24px 0;
      }
      footer {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <a href="/" title="Home">Home</a>
        <a href="/posts" title="Posts">Posts</a>
      </nav>
      <hr />
    </header>

    <main>
      {{ block "content" . }}
      {{ end }}
    </main>

    <footer>
      <hr />
      <p>Copyright Wray Ward 2018</p>
    </footer>
  </body>
</html>

